.profile_page {
  align-items: center;
  background-color: #fdd692;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  height: 100%;
  width: 100%;
}

.profile_page > form {
  align-items: center;
  background-color: #242423;
  border-radius: 70px 20px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  margin: 1% 0;
  padding: 1%;
  width: 50%;
}

@media screen and ( max-width : 800px ) {

  .profile_page {
    font-size: 40px;
  }

  .profile_page > form {
    border-radius: 50px 20px;
    width: 70%;
  }

  .profile_page > header {
    width: 80%;
  }
}

@media screen and ( max-width : 500px ) {

  .profile_page {
    font-size: 30px;
  }

  .profile_page > form {
    border-radius: 30px 10px;
    width: 90%;
  }

  .profile_page > header {
    width: 100%;
  }
}
