.ver_carrinho {
  align-items: center;
  background-color: #242423;
  border: none;
  border-radius: 20px;
  bottom: 2%;
  color: whitesmoke;
  display: flex;
  font-family: Permanent Marker, cursive;
  font-size: 2em;
  font-weight: 700;
  height: 10%;
  justify-content: center;
  margin: 2% 0;
  position: fixed;
  width: 80%;
}

.ver_carrinho > span {
  font-size: 80%;
}

.ver_carrinho > span:nth-child( 2 ) {
  margin-left: 4%;
}

