.products_page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.products_page > .products {
  display: grid;
  height: 75%;
  grid-template-columns: 1fr 1fr;
  overflow: scroll;
}

.products_page > .ver_carrinho {
  background-color: chartreuse;
  border: none;
  bottom: 2%;
  color: white;
  height: 10%;
  font-size: 2em;
  font-weight: bold;
  margin: 2% auto;
  position: fixed;
  width: 80%;
}

.products_page > .ver_carrinho > span:nth-child(2) {
  margin-left: 4%;
}
