.product_comp {
  align-items: center;
  border: solid 1px #242423;
  border-radius: 5px;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  margin: 2%;
  padding: 1%;
  position: relative;
  width: 20%;
}

.counter {
  align-items: center;
  display: flex;
  height: 25%;
  justify-content: space-around;
  width: 90%;
}

.counter > button {
  background-color: none;
  border: none;
  height: 0;
  margin: 0;
}

.product_comp > .counter > p {
  border: solid 4px #242423;
  display: flex;
  font-size: 0.5em;
  justify-content: center;
  padding: 1%;
  margin: 0;
  width: 20%;
}

.product_comp > .counter > button > .material-icons {
  border: solid 4px #242423;
  border-radius: 5px;
  font-size: 0.6em;
  position: absolute;
  bottom: 10%;
}

.product_comp > .counter > button:focus > .material-icons {
  background-color: #242423;
  border-radius: 5px;
  color: whitesmoke;
}

.remove-btn {
  right: 20%;
}

.product_comp > .price {
  font-size: 0.6em;
  font-weight: 900;
  left: 7%;
  margin: 0;
  position: absolute;
  top: 2%;
}

.product_comp > img {
  height: 70%;
}

.product_comp > .name {
  font-size: 0.4em;
  font-weight: 500;
  height: 10%;
  margin: 2% 0%;
}

@media screen and ( max-width : 800px ) {

  .product_comp {
    width: 40%;
  }
}

@media screen and ( max-width : 500px ) {

  .product_comp {
    width: 70%;
  }
}

