.login_page {
  align-items: center;
  background-color: #100f0f;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.login_page_form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 50%;
}

.login_page_register_button , .login_page_submit_button {
  margin: 1%;
  width: 20%;
}

@media screen and ( max-width : 800px ) {

  .login_page_form {
    width: 70%;
  }

  .login_page_register_button , .login_page_submit_button {
    width: 30%;
  }
}

@media screen and ( max-width : 500px ) {

  .login_page_form {
    width: 100%;
  }

  .login_page_register_button , .login_page_submit_button {
    width: 40%;
  }
}
