.message_comp {
  align-items: center;
  background-color: #242423;
  border-radius: 30px;
  box-shadow: 5px 5px 30px -1px #e71d36;
  display: flex;
  height: 40px;
  justify-content: flex-start;
  padding: 0 1%;
  position: absolute;
  top: 22%;
  width: 40%;
}

.message_comp > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  margin-right: 2%;
  padding: 0;
}

.message_comp > button > .material-icons {
  color: white;
  font-size: 0.8em;
}

.message_comp > strong {
  font-size: 1.2em;
}

.message_comp > strong {
  font-size: 30%;
}
