.message_comp {
  position: absolute;
  top: 5%;
  padding: 0 5%;
  height: 10%;
  width: 80%;
  border-radius: 10px;
  box-shadow: 5px 5px 20px -3px rgba(0,0,0,0.6);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #363636;
}

.message_comp > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-right: 4%;
}

.message_comp > button > .material-icons {
  color: white;
  font-size: 1.3em;
}

.message_comp > strong {
  font-size: 1.2em;
}
